@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-navy: #001429;
  --color-angel: #fabb00;
  --color-cream: #faf2e4;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply lg:text-4xl text-2xl mb-4 font-bold;
}

.ta-border {
  @apply border-2 border-red-500;
}

.ta-container {
  @apply container lg:px-20 px-8 mx-auto lg:my-20 my-10;
}

.ta-btn-navy {
  @apply py-3 px-5 rounded-md bg-navy text-cream hover:bg-cream hover:text-navy transition-colors border-1 border-navy;
}

.ta-btn-cream {
  @apply py-3 px-5 rounded-md bg-cream text-navy hover:bg-navy hover:text-cream transition-colors border-1 border-cream;
}
