@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-navy: #000a14;
  --color-angel: #fabb00;
  --color-cream: #f4e4c8;
}

h1 {
  @apply text-5xl font-bold mb-8;
}

.ta-border {
  @apply border-2 border-red-500;
}

.ta-container {
  @apply container lg:px-20 px-10 mx-auto mt-20;
}

.ta-btn-navy {
  @apply py-3 px-5 rounded-md bg-navy text-cream hover:bg-cream hover:text-navy transition-colors;
}

.ta-btn-cream {
  @apply py-3 px-5 rounded-md bg-cream text-navy hover:bg-navy hover:text-cream transition-colors;
}
